/.fleet
/.idea
/.vscode
/.vagrant
/app/phpunit.xml
/build/
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/artisan
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
.phpactor.json
.DS_Store
phpunit.xml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
_ide_helper.php
